footer p:hover{
    color: black;
    transition: color 0.3s;
    cursor: pointer;
}

.whatsapp:hover,
.cv:hover,
.notebook:hover{
  color: rgb(122, 111, 111);
  transition: color 0.5s;
  cursor: pointer;
  
}

/*SERVICIOS*/


.btn-servicios:hover,
.btn-contacto:hover {
    background-color: beige;
    color: black;
    transition: color 2s;
    transition: background-color 0.5s;
    cursor: pointer;
}


/*CLASES*/


.clases:hover,
.pdf:hover,
.wp:hover {
    cursor: pointer;

}

.title-clases:hover~.contenido-clase{
   display: grid;
}
.servicio-texto{
    display:none;
}

.image-hover{
    display: none;
}
  .menu-left:hover~.container-right .image-main{
    display: none;
  }
  .menu-left:hover~.container-right .image-hover{
    display: flex;
  }
  .menu-left:hover~.container-right .servicio-texto{
    display: flex;
  }

  .clases:hover~.contenido-clases{
    display: flex;
    flex-direction: column;   
  }