.foto-cv {
    width: 20%;
    height: 20%;
    margin: 50px;
}

.image-main, .image-hover{
  width: 50%;
}


.imagenes-estudio-right{ 
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.img-estudio{
  margin:10px;
  border: 2px solid #495057;
}