/*INDEX*/
.bienvenida {
    text-align: center;
    font-size: 20px;
    font-family: poppins;
    font-style: cursive;
    font-weight: bold;
  
}
/*CLASES*/
.clases {
    text-decoration: none;
    font-family: poppins;
    font-size: 20px;
}

.texto-modalidad{
    text-decoration: none;
    font-family: poppins;
    font-size: 20px;
    margin:20px;
}

.contenido-clases {
      
    color: white;
    background-color: rgba(56, 52, 52, 0.863);
    border: 2px solid black;
    font-size: medium;
    font-family: poppins;
    display: none ;
    width: 50%;
    margin: 20px;
}

/*SERVICIOS*/
.servicio-texto {
    text-decoration: none;
    font-family: poppins;
    font-size: 20px;
}

/*INFO*/

.texto {
    text-decoration: none;
    font-family: poppins;
    font-size: 20px;
    margin:20px;
}
.texto-info{
    text-decoration: none;
    font-family: poppins;
    font-size: 20px;
}

.texto-escuela{
    text-decoration: none;
    font-family: poppins;
    font-size: 20px;
    margin-bottom: 20px;
}
.experiencia {
    text-decoration: none;
    font-family: poppins;
    font-size: 20px;
    margin: 20px;
}
.cv{
    text-align: center;
}

.whatsapp,
.cv {
    font-family: poppins;
    font-size: 25px;
    font-weight: bold;
}
/*GENERAL*/
span {
    font-weight: bold;
}
.estudios-left{
    margin: 20px;
}

