

/*Servicios*/

.titulos {
    font-size: 48px;    
    font-family: poppins;
    font-weight: bold;
    font-style: cursive;
}
/*CLASES*/


.titulo-clases {
    font-size: 28px;
    font-family: poppins;
    font-style: cursive;
    font-weight: bold;
    

}

.title-clase{
    display: grid;
    justify-content: center;
    
}

.soft{
    width:500px;
}
