

/*Servicios*/

.titulos {
    font-size: 48px;    
    font-family: poppins;
    font-weight: bold;
    font-style: cursive;
}

.titulo-agenda{
    margin: 20px;
    text-align: center;
}