@import '_variables.scss';
@import '_animacion.scss';
@import '_breakpoints.scss';
@import '_iconos.scss';
@import '_images.scss';
@import '_mixins.scss';
@import '_texto.scss';
@import '_titulos.scss';


/*SERVICIOS*/

.inicio.servicios{
    display: flex;
    
}

.btn-servicios,
.btn-contacto {
    
    font-family: poppins;
    font-size: large;
    background-color: black;   
    border: none;
    text-align:center;
    color: #ffffff;  
    padding:10px;
    width: 70%; 
    margin:20px 10px 0px 50px;

}




.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.estudios{
    display: flex;
    flex-direction: column;
}

.clases{
    display: grid;
    grid-template-columns:1fr;
    width:50%;
    margin-left: 20px;
    

}
.formulario-contenedor{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-family: poppins;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

footer{
   background-color:#2B3035; 
   color:white; 
   text-decoration: none;
   font-family: poppins;
   font-size: 20px;
}


.columns-container{
    display: flex;
}

.menu-left{
    display: flex;
    flex-direction: column;
    flex: 1;     

}

.container-right{
    flex:2;
}


.container-programas{
    display: flex;
    flex-wrap: wrap;
}

.notebook{
    display: flex;
    justify-content: center;
}